[submodule "submodules/awesome-pair"]
	path = submodules/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair
[submodule "submodules/lsp-julia"]
	path = submodules/lsp-julia
	url = https://github.com/zsxh/lsp-julia.git
[submodule "submodules/netease-cloud-music"]
	path = submodules/netease-cloud-music
	url = https://github.com/SpringHan/netease-cloud-music.el.git
[submodule "submodules/icons-int-terminal"]
	path = submodules/icons-int-terminal
	url = https://github.com/seagle0128/icons-in-terminal.el.git
[submodule "/home/zsxh/.emacs.d/submodules/emacs-application-framework"]
	path = /home/zsxh/.emacs.d/submodules/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
	branch = master
