[submodule "experimental/eaf"]
	path = experimental/eaf
	url = git@github.com:zsxh/emacs-application-framework.git
[submodule "experimental/aweshell"]
	path = experimental/aweshell
	url = https://github.com/manateelazycat/aweshell.git
